<!doctype html>
<html class="nojs">
<head>{{> head }}</head>
<body data-app="{{appUrl}}" data-appRoot="{{appRoot}}" data-discoUrl="{{discoUrl}}" class="{{bodyClass}}" data-script='{ "js" : [ "commons.js", "speakingurl.js", "search.js" ], "hbs" : [ { "template" : "items.hbs", "id" : "items" }, { "template" : "noresults.hbs", "id" : "noresults" } ] }'>
  {{> header }}
  <main class="main container-fluid" role="main">
    <header>
      {{#title}}
        <h2  class="page-title">{{{html}}} for: <span class="s-query"></span></h2>
      {{/title}}      
      <div class="resultsnum">Showing  <span class="start"></span> - <span class="docslength"></span> of <span class="numfound"></span> results</div>
      <select id="browse-select">
          <option data-sort-dir="desc" value="score" selected>Sorting by Relevance</option>
        <option data-sort-dir="asc" value="iass_longlabel">Sort by Title</option>
        <option data-sort-dir="asc" value="ss_sauthor">Sort by Author</option>
      </select>
    </header>
    {{#content}}
      {{#items}}
        <div class="widget" data-name="items" data-rows="{{rows}}" data-source="{{source}}" data-fl="{{fl}}" {{#fq}} data-fq-{{filter}}="{{value}}"{{/fq}}></div>
        <div class="text-center">
          <div id="paginator" class="pagination"></div>
        </div>        
      {{/items}}
    {{/content}}    
  </main>
  {{> footer }}
  {{{ closure }}}
</body>
</html>
