<!doctype html>
<html class="nojs">
  <head>{{> head }}</head>
  <body data-app="{{appUrl}}" data-appRoot="{{appRoot}}" {{#sources}}data-source-{{source}}="{{src}}"{{/sources}} class="{{bodyClass}}">
    {{> header }}
	<main class="main container-fluid" role="main" data-tid="{{tid}}">
	  <header>
	    <h2 class="page-title">Provider: {{label}}</h2>
        <div class="resultsnum">Showing  <span class="start"></span> - <span class="docslength"></span> of <span class="numfound"></span> results</div>
        <select id="browse-select">
          <option data-sort-dir="desc" value="ds_created" selected>Recently added  </option>
          <option data-sort-dir="asc" value="ss_longlabel" >Title in English / العنوان بالانجليزية</option>
          <option data-sort-dir="asc" value="ss_ar_title">Title in Arabic / العنوان بالعربية</option>
          <option data-sort-dir="asc" value="ss_sauthor">Author in English / الكاتب بالانجليزية</option>
          <option data-sort-dir="asc" value="ss_ar_sauthor">Author in Arabic / الكاتب بالعربية</option>
          <option data-sort-dir="asc" value="ss_publocation">Place in English / بلد النشر بالانجليزية</option>
          <option data-sort-dir="asc" value="ss_ar_publocation">Place in Arabic / بلد النشر بالعربية</option>
        </select>
	  </header>
	  <div>
      {{#content}}
        {{#items}}
          <div 
            class="widget" 
            data-name="items" 
            data-rows="{{../../rows}}"
            data-source="{{../../source}}"
            data-fl="{{fl}}"
            {{#fq}}data-fq-{{filter}}="{{value}}"{{/fq}}
            data-fq-im_field_partner="{{../../tid}}"
            data-script='{ "js" : [ "commons.js", "speakingurl.js", "subjects_page.js" ], "hbs" : [ { "template" : "items.hbs", "id" : "items" } ] }'
          ></div>
          <div class="text-center">
            <div id="paginator" class="pagination"></div>
          </div>        
        {{/items}}
      {{/content}}	  
	  </div>
    </main>
    {{> footer }}
    {{{ closure }}}
  </body>
</html>
