<!doctype html>
<html>

<head>{{> head }}</head>

<body data-app="{{ appUrl }}" data-appRoot="{{ appRoot }}" class="{{ bodyClass }}">
    {{> header }}
    <main class="main container-fluid" role="main">
        {{#title}}
        <h2 class="page-title" lang="{{language_code}}" dir="{{language_dir}}"><span>{{{html}}}</span></h2> {{/title}} {{#content}} {{#main}}
        <div class="col {{class}}" lang="{{language_code}}" dir="{{language_dir}}">{{{html}}}</div>
        {{/main}} {{/content}}
    </main>
    {{> footer }} {{{ closure }}}
</body>

</html>