<!doctype html>
<html class="nojs">
<head>{{>head}}</head>
<body id="{{id}}" data-app="{{appUrl}}" data-appRoot="{{appRoot}}">
  {{>header}}
  {{#content}}
    <iframe class="widget book" id="book" name="book" data-name="book" data-sourceUrl="{{viewer}}" allowfullscreen mozallowfullscreen webkitallowfullscreen></iframe>
  {{/content}}
  <div class="bubblingG">
    <span id="bubblingG_1"></span>
    <span id="bubblingG_2"></span>
    <span id="bubblingG_3"></span>
  </div>
  {{{closure}}}
</body>
</html>
