<!doctype html>
<html class="nojs">
<head>{{> head }}</head>
<body data-app="{{appUrl}}" data-appRoot="{{appRoot}}" class="{{bodyClass}}" data-script='{ "js" : [ "commons.js", "crossframe.js", "book.js" ] }'>
  {{> header }}
  <iframe class="widget book" id="book" name="book" data-name="book" data-sourceUrl="{{sourceUrl}}" allowfullscreen mozallowfullscreen webkitallowfullscreen></iframe>
  {{> loading }}
  {{{closure}}}
</body>
</html>
