<noscript>
  <div class="warning container-fluid main">
    <h2 class="page-title">Please enable JavaScript</h2>
    <p>It appears that your browser has JavaScript disabled.<br />
    This website relies on JavaScript-based technologies and services.<br />
    Please enable JavaScript and then reload the page.</p>
  </div>
</noscript>