.wf-active body {
  font-family: "Open Sans", $font-family-base;
}

.wf-opensans-n4-inactive body {
  font-family: $font-family-base;
}

.wf-loading body {
  font-family: "Open Sans", $font-family-base;
}