.header-wrapper {
    background-color: $brand-primary;
    color: #fff;
    @include box-shadow(0px 0px 10px 5px rgba(110, 102, 93, 0.3));
    @include box-shadow(0px 0px 10px 5px #deccbf);
    width: 100%;
    overflow: auto;
}

.header-main {
    padding-top: 10px;
    padding-bottom: 20px;
    width: 100%;
    @media (max-width: 479px) {
        // font-size: 1.1rem;
        padding-top: 0;
    }
    .sitename {
        width: 80%;
        max-width: 550px;
        float: left;
        margin: 0;
        line-height: 1;
        padding-top: 15px;
        a {
            height: 25px;
            text-indent: -1000em;
            color: #fff;
            line-height: 1;
            display: block;
            background: image-url("awdl_logo.png") no-repeat left center;
            background-size: 100% auto;
            @media (min-width: $grid-float-breakpoint) {
                background: image-url("awdl_logo.png") no-repeat left top;
                background-size: auto;
            }
            @media (max-width: 479px) {
                background: image-url("awdllogoVert.png") no-repeat left top;
                background-size: auto 100%;
                padding-top: 0;
                height: 40px;
            }
        }
        a:hover {
            text-decoration: none;
            text-shadow: 1px 0px 0px #FF9C00, -1px 0px 0px #FF9C00, 0px 1px 0px #FF9C00, 0px -1px 0px #FF9C00;
            text-shadow: 0px 0px 1px #fff, 1px 0px 0px #FF9C00;
            // text-shadow: 1px 0px 0px #0000ff, -1px 0px 0px #FF9C00, 0px 1px 0px #0000ff, 0px -1px 0px #FF9C00;
       
        }
    }
}