.search_holder input[type="text"]:focus {
  outline-color: #ff9c00;
}

input[type="submit"] {
  background: #ecdcc8 url(/aco/images/search-icon-2x.png) no-repeat center center;
  background-size: auto 80%;
  text-indent: -1000em;
  border: 1px solid $brand-secondary3;
  -ms-flex: 0 0 50px;
  -webkit-flex: 0 1 50px;
  flex: 0 1 50px;
  height: 30px;
  min-width: 36px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  // @include box-shadow(inset 0px 1px 1px rgba(0, 0, 0, 0.2));
  &:focus {
    z-index: 1000;
    outline-style: none;
    outline-width: 0px;
    background-color: darken(#ecdcc8, 8%);
  }
  @media (min-width: $grid-float-breakpoint) {
    border-radius: 20px / 30px;
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0px;
    @include box-shadow(inset 0px 1px 0px rgba(0, 0, 0, 0.1));
  }
}

input[type="text"] {
  padding: 0 20px;
  border: 1px solid $brand-secondary3;
  height: 30px;
  @include box-shadow(inset 0px 1px 1px rgba(0, 0, 0, 0.2));
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  &:focus {
    z-index: 1000;
  }
  @media (min-width: $grid-float-breakpoint) {
    border-top: 1px solid $brand-secondary2;
    border-left: 1px solid $brand-secondary2;
    border-bottom: 1px solid $brand-secondary2;
    border-right: none;
    -moz-border-radius: 10% / 100%;
    -webkit-border-radius: 10% / 100%;
    -khtml-border-radius: 10% / 100%;
    border-radius: 10% / 100%;
    // compass mixin does not work with percentages?
    //  @include border-radius(10% / 100%);
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0em;
  }
}

[role="search"] {
  margin: 0 15px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-wrap: nowrap;
  // width: 100%;
  @media (min-width: $grid-float-breakpoint) {
    width: 320px;
    margin: 0;
  }
}