<!doctype html>
<html>
  <head>{{> head }}</head>
  <body data-app="{{appUrl}}" data-appRoot="{{appRoot}}" class="{{bodyClass}}">
    {{> header }}
	<main class="main container-fluid" role="main" data-tid="{{tid}}">
	  <header>
	    <h2 class="page-title">{{title}}</h2>
	  </header>
    {{#content}}
	    <div>
	      <ul>
          {{#terms}}<li><a href="{{ ../../appUrl}}/providers/{{nid}}">{{label}}</a></li>{{/terms}}
        </ul>
	    </div>
    {{/content}}
    </main>
    {{> footer }}
    {{{ closure }}}
  </body>
</html>
