<!doctype html>
<html class="nojs">
  <head>{{> head }}</head>
  <body data-app="{{appUrl}}" data-appRoot="{{appRoot}}" {{#sources}}data-source-{{source}}="{{src}}"{{/sources}} class="{{bodyClass}}" data-script='{ "js" : [ "commons.js" ] }'>
    {{> header }}
    <main class="main container-fluid" role="main" data-identifier="{{ss_identifier}}">
	  <header>
	    <h2 class="page-title">{{{title}}}</h2>
	  </header>
  	  <div class="flex-container">
  	    {{#series}}
          <article class="item" {{#if score}}data-score="{{{score}}}"{{/if}}>
            <div class="card">
             <a href="{{../appUrl}}/series/{{route}}">{{{label}}}</a>
            </div>
          </article>
        {{/series}}
        <article class="item"></article>
        <article class="item"></article>
	  </div>
    </main>
    {{> footer }}
    {{{ closure }}}
  </body>
</html>
