<!doctype html>
<html class="nojs">
<head>{{> head }}</head>
<body data-app="{{ appUrl }}" data-appRoot="{{ appRoot }}" data-discoUrl="{{ discoUrl }}" class="{{ bodyClass }}" data-script='{ "js" : [ "commons.js", "speakingurl.js", "browse.js" ], "hbs" : [ { "template" : "items.hbs", "id" : "items" } ] }'>
  {{> header }}
  <main class="main container-fluid" role="main">
    <header>
      {{#title}}<h2  class="page-title" >{{{html}}}</h2>{{/title}}
      <div class="resultsnum">Showing results <span class="start"></span> - <span class="docslength"></span> of <span class="numfound"></span></div>
      <div class="filters">
        <select id="browse-select">
          <option data-sort-dir="asc" value="iass_longlabel" selected>Sorting by Title</option>
          <option data-sort-dir="asc" value="ss_sauthor">Sort by Author</option>
  
        </select>
      </div>
    </header>
    {{#content}}
      {{#items}}
        <div class="widget" data-name="items" data-rows="{{rows}}" data-source="{{source}}" data-fl="{{fl}}" {{#fq}}data-fq-{{filter}}="{{value}}" {{/fq}}></div>
        <div class="text-center">
          <div id="paginator" class="pagination"></div>
        </div>        
      {{/items}}
    {{/content}}
  </main>
  {{> footer }}
  {{{ closure }}}
</body>
</html>