
$color-light: #ECDCC8;
$color-dark: #ECDCC8;

.bubblingG {
    text-align: center;
    width: 80px;
    height: 50px;
}

.bubblingG span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 25px auto;
    background: $color-light;
    -moz-border-radius: 50px;
    -moz-animation: bubblingG 1.3s infinite alternate;
    -webkit-border-radius: 50px;
    -webkit-animation: bubblingG 1.3s infinite alternate;
    -ms-border-radius: 50px;
    -ms-animation: bubblingG 1.3s infinite alternate;
    -o-border-radius: 50px;
    -o-animation: bubblingG 1.3s infinite alternate;
    border-radius: 50px;
    animation: bubblingG 1.3s infinite alternate;
}

#bubblingG_1 {
    -moz-animation-delay: 0s;
    -webkit-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}

#bubblingG_2 {
    -moz-animation-delay: 0.39s;
    -webkit-animation-delay: 0.39s;
    -ms-animation-delay: 0.39s;
    -o-animation-delay: 0.39s;
    animation-delay: 0.39s;
}

#bubblingG_3 {
    -moz-animation-delay: 0.78s;
    -webkit-animation-delay: 0.78s;
    -ms-animation-delay: 0.78s;
    -o-animation-delay: 0.78s;
    animation-delay: 0.78s;
}

@-moz-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color: $color-light;
        -moz-transform: translateY(0);
    }

    100% {
        width: 24px;
        height: 24px;
        background-color: $color-dark;
        -moz-transform: translateY(-21px);
    }
}

@-webkit-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color: $color-light;
        -webkit-transform: translateY(0);
    }

    100% {
        width: 24px;
        height: 24px;
        background-color: $color-dark;
        -webkit-transform: translateY(-21px);
    }
}

@-ms-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color: $color-light;
        -ms-transform: translateY(0);
    }

    100% {
        width: 24px;
        height: 24px;
        background-color: $color-dark;
        -ms-transform: translateY(-21px);
    }
}

@-o-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color: $color-light;
        -o-transform: translateY(0);
    }

    100% {
        width: 24px;
        height: 24px;
        background-color: $color-dark;
        -o-transform: translateY(-21px);
    }
}

@keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color: $color-light;
        transform: translateY(0);
    }

    100% {
        width: 24px;
        height: 24px;
        background-color: $color-dark;
        transform: translateY(-21px);
    }
}

.bubblingG {
    display: none;
    visibility: hidden;
}

.io-loading .bubblingG {
    display: block;
    visibility: visible;
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -40px;
}