<!doctype html>
<html>
<head>
    <title>{{appName}}{{#htmltitle}}: {{htmltitle}}{{/htmltitle}}</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{{appUrl}}/images/favicon.ico" /> {{{css}}}
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <link rel="stylesheet" type="text/css" href="{{appRoot}}/css/upgrade.css">
</head>

<body data-app="{{appUrl}}" data-appRoot="{{appRoot}}" class="{{bodyClass}}">
    <div class="header-wrapper ">
        <div class="header-main container-fluid" role="banner">
            <h1 class="sitename"><a href="{{appUrl}}/">{{appName}}</a></h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="flex-container">
            {{#content}}
            <main class="main hasSidebar" role="main">
                {{#main}}
                <h2 class="page-title">{{title}}</h2>
                <div class="maintext">{{{html}}}</div>
                {{/main}}
            </main>
            {{/content}}
        </div>
    </div>
   <div class="footer-wrapper">
  <div class="footer-main container-fluid" role="contentinfo">
    <div class="logo">
      <a href="http://nyu.edu/" target="_blank"><img src="{{appUrl}}/images/nyu_short_white.png" alt="NYU" width="120" height="41"></a>
    </div>
    {{> partnersfooter }}
  </div>
</div>
</body>
</html>