<!doctype html>
<html class="nojs">
<head>{{> head }}</head>
<body data-app="{{ appUrl }}" data-appRoot="{{ appRoot }}" class="{{bodyClass}}">
  {{> header }}
  <main class="main container-fluid">
    {{#title}}
      <h2  class="page-title">{{{html}}}</h2>
    {{/title}}
    {{#content}}
      {{#main}}
        <div class="col {{class}}">{{{html}}}</div>
      {{/main}}
    {{/content}}
  </main>
  {{> footer }}
</body>
</html>
