<!doctype html>
<html>
  <head>{{>head}}</head>
  <body data-app="{{appUrl}}" data-appRoot="{{appRoot}}" class="{{bodyClass}}">
    {{> header }}
	<main class="main container-fluid" role="main" data-tid="{{tid}}">
	  <header>
	    <h2 class="page-title">{{title}}</h2>
	  </header>
	  <div>
	  <ul>
        {{#terms}}<li><a href="{{ ../appUrl }}/subjects/{{tid}}">{{label}}</a></li>{{/terms}}
      </ul>
	  </div>
    </main>
    {{> footer }}
    {{{ closure }}}
  </body>
</html>
