//
//  Fight against War and Fascism
//

$brand-primary:  hsl(27deg, 33%, 38%);

$body-bg: lighten(desaturate($brand-primary,15%), 58%) ;

$card-bg: lighten(desaturate($brand-primary,15%), 65%) ;
// darker accent
$accent-bg: #d2bca3 ;
$accent-bg: desaturate($brand-primary,30%);
$accent-bg: #ADA9A9 ;
$aside-bg:    lighten(desaturate($brand-primary,15%), 54%) ;

//
$header-bg: lighten(desaturate($brand-primary,15%), 54%) ;

$siteheader-color: desaturate(darken($brand-primary, 25%),30%);

$siteheader-color: #020301;
// background for the footer 
$footer-color: lighten(desaturate($brand-primary,15%), 54%) ;

$footer-link-color: #111111;
// nav on bottom
$footer-height: 100px;
$footer-link-color-hover: #111111;
$asset-base-path: '/fawf/images' ;

$logo-path: '' ;
