<div class="footer-wrapper">
  <footer class="footer-main container-fluid" role="contentinfo">
    <div class="logo">
      <a href="http://nyu.edu/" target="_blank"><img src="{{appUrl}}/images/nyu_short_white.svg" alt="NYU" width="120" height="41"></a>
    </div>
    {{> partnersfooter }}
  </footer>
</div>