 <button type="button" class="navbar-toggle collapsed widget" data-toggle="collapse" data-name="navButton" data-script='{ "js" : [ "navButton.js" ] }'> 
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="40px" height="30px" viewBox="0 0 40 30" overflow="visible" xml:space="preserve">
    <defs> </defs>
    <rect y="0" fill="#FFFFFF" width="40" height="3"></rect>
    <rect y="7" fill="#FFFFFF" width="40" height="3"></rect>
    <rect y="14" fill="#FFFFFF" width="40" height="3"></rect>
  </svg> 
  <span class="sr-only">Toggle navigation</span> 
</button>
