<div class="partner-wrapper">
  {{#widgets}}
    {{#partners}}
      {{#data}}  
        <div class="partner-{{id}}"><a href="{{url}}">{{name}}</a></div>
      {{/data}}
    {{/partners}}
  {{/widgets}}
</div>
