<div class="search_holder widget navbar-form navbar-right" data-name="search_form" data-script='{ "js" : [ "search_form.js" ] }'>
  <form method="get" action="{{ appUrl }}/search" role="search">
    <input name="q" type="text" placeholder="Search titles, subjects, authors..." title="Enter the terms you wish to search for.">
    <input type="submit" class="submit-search">
  </form>
</div>