<!doctype html>
<html class="nojs">
<head>{{> head }}</head>
<body data-app="{{appUrl}}" data-appRoot="{{appRoot}}" data-discoUrl="{{discoUrl}}" class="{{bodyClass}}" data-script='{ "js" : [ "commons.js", "front.js" ] }'>
  {{> header }}
  <main class="main container-fluid" role="main">
    {{#content}}
      <div class="topHold flex-container">
        {{#intro}}
          <div class="intro {{class}} itemdouble">{{{html}}}</div>
        {{/intro}}
        {{> newsItem }}
      </div>
     {{> featured ..}}
    {{/content}}
  </main>
  {{> footer }}
  {{{ closure }}}
</body>
</html>
