<!doctype html>
<html class="nojs">
<head>{{>head}}</head>
<body id="{{id}}" data-app="{{appUrl}}" data-appRoot="{{appRoot}}">
  {{>header}}
  <main class="main container-fluid" role="main">
    {{#content}}
    {{/content}}
  </main>
  {{>footer}}
  {{{closure}}}
</body>
</html>
